body, h1, h2, h3, h4, h5,h6, p, div, div.header {
  font-family: 'Roboto Condensed', 'sans-serif' !important;
}

.card div.content {
  background-color: #78866b !important;
}

.header {
  color: #1f1f1f !important;
}

.ui-dropdown {
  padding-bottom: 10px;
}

body {
  background-color: #dbdbdb;
}

.ui.header div.content {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  padding-left: 250px;
  padding-top: 22px;
  height: 80px;
  color: #214a4f;
}